.cookie-notice {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;

  padding: rem-calc(15) 0;

  color: $white;
  background-color: transparentize($black, 0.3);
  transition: visibility 0.2s, opacity 0.2s;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
