.alignleft {
  display: inline;
<<<<<<< HEAD
  margin-right: 1.5em;
=======
  margin-right: rem-calc(1.5);
>>>>>>> Add WordPress WYSIWYG editor styles. Closes #4
  float: left;
}

.alignright {
  display: inline;
<<<<<<< HEAD
  margin-left: 1.5em;
=======
  margin-left: rem-calc(1.5);
>>>>>>> Add WordPress WYSIWYG editor styles. Closes #4
  float: right;
}

.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

table {
  &.aligncenter {
    display: table;
  }
}

.wp-caption {
<<<<<<< HEAD
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
=======
  margin-bottom: rem-calc(1.5);
  text-align: center;
  padding-top: rem-calc(5);
>>>>>>> Add WordPress WYSIWYG editor styles. Closes #4

  img {
    border: 0 none;
    padding: 0;
    margin: 0;
  }

  p {
    &.wp-caption-text {
      line-height: 1.5;
<<<<<<< HEAD
      font-size: 10px;
=======
      font-size: rem-calc(10);
>>>>>>> Add WordPress WYSIWYG editor styles. Closes #4
      margin: 0;
    }
  }
}

<<<<<<< HEAD
=======
blockquote {
  &.left {
    margin-right: rem-calc(20);
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
  }

  &.right {
    margin-left: rem-calc(20);
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
  }
}

>>>>>>> Add WordPress WYSIWYG editor styles. Closes #4
